*{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #119aaf;
    color: #fff;
}
.container .sidenav{
    background-color: #000;
    width: 115px;
    height: 100vh;
    position: fixed;
    padding: 32px 16px;
    transition: width 0.6s;
}
.container .logo h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
.sidenav .search-bar{
    margin-top: 32px;
    position: relative;
}
.sidenav .search-bar i{
    position: absolute;
    color: #000;
    font-size: 24px;
    left: 48px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sidenav .search-bar input{
    width: 50%;
    padding: 11px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 15px;
}
.menu-text{
    margin-top: 24px;
}
 .menu-text p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}
.sidenav .icon-item ul{
    list-style: none;
    margin-top: 32px;
    padding: 0 10px;
}
.sidenav .icon-item ul li{
    cursor: pointer;
    margin: 4px;
    padding: 7px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.5 ease;
}
.icon-item .active,
.sidenav .icon-item ul li:hover{
    background: #119aaf;
}
.sidenav .icon-item ul li i{
    font-size: 26px;
    padding: 0 12px;
}
.sidenav .icon-item ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding-left: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.container label{
    position: absolute;
    left: 3%;
    top: 1.5%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}
#click:checked ~ .sidenav{
    width: 260px;
}
#click:checked ~ .sidenav .icon-item ul li a{
    opacity: 1;
    pointer-events: auto;
}
#click{
    display: none;
}
label .close-btn{
    display: none;
}
#click:checked ~ .sidenav .icon-item ul li a{
    opacity: 1;
    pointer-events: auto;

}
#click:checked ~ .sidenav .logo h2{
    opacity: 1;
    pointer-events: auto;
}
#click:checked ~ .sidenav .search-bar input{
    width: 100px;
    margin-left: 0;
}
#click:checked ~ .sidenav .search-bar i{
    left: 20px;
}
#click:checked ~ label {
    left: 1%;
}

#click:checked ~ label .close-btn{
    display: block;
}
#click:checked ~ label .menu-btn{
    display: none;
}
.header{
    display: flex;
    justify-content: center;
 line-height: 1;
 display: grid;
 min-height: calc(100vh - 16px);
 padding-left: 20%;
}
:root{
    --color-1:#000;
    --color-2:#fff;
    --color-4: #000;
    --color-3: #fff;
    --color-5: #000;
}
h1{
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 #33333333;
    background: linear-gradient(
        220deg,
        var(--color-1),transparent 20%, 
        var(--color-2) 20%,var(--color-2) 69%,
        transparent 39%, transparent 40%,
        var(--color-3) 40%, var(--color-3) 59%,
        transparent 59%, transparent 60%,
        var(--color-4) 60%, var(--color-4) 79%,
        transparent 79%, transparent 79%,
         var(--color-5) 80%
    );
    -webkit-background-clip: text;
}